@page
@model WInnovator.Pages.DesignShops.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Nieuwe DesignShop aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignShop[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignShop[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignShop[0].Starttime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DesignShop) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @String.Format("{0:dd-MM-yyyy}", item.Date)
            </td>
            <td>
                @item.Starttime.ToString(@"hh\:mm")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Bewerken</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
