@page
@model WInnovator.Pages.WorkingForms.DeleteModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verwijderen</title>
</head>
<body>

<h3>Weet u zeker dat u deze werkvorm wilt verwijderen?</h3>
<div>
    <h4>Werkvorm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.DisplayName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.DisplayName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.DefaultTimeNeeded)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.DefaultTimeNeeded)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.PhaseId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Phase.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.UploadEnabled)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.UploadEnabled)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.Resume)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Resume)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WorkingForm.Id" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-page="./Index">Terug naar de overzichtspagina</a>
    </form>
</div>
</body>
</html>
