@page
@model WInnovator.Pages.WorkingForms.DetailsModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Werkvorm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.DisplayName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.DisplayName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.DefaultTimeNeeded)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.DefaultTimeNeeded)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.PhaseId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Phase.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.UploadEnabled)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.UploadEnabled)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.Resume)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Resume)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingForm.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingForm.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkingForm.Id">Bewerken</a> |
    <a asp-page="./Index">Terug naar de overzichtspagina</a>
</div>
</body>
</html>
